---
layout: default
permalink: /events/
title: "📅 Расписание ближайших мероприятий"
description: "Расписание предстоящих мероприятий с возможностью регистрации"
published: true
---

<h2>📅 Расписание ближайших мероприятий в Москве</h2>

<p>
    Я регулярно провожу демонстрационные сессии в, на которые вы можете прийти и увидеть как именно я помогаю прийти к пониманию своих скрытых потребностей в ситуациях неопределенности. Или даже поучаствовать в роли клиента со своей ситуацией.
</p>
<p>
    Для участия нужно зарегистрироваться и оплатить, ссылки на регистрацию ниже, подробности встреч и места проведения смотрите по ссылкам ниже:
</p>

<div>
  {% assign now = site.time | date: '%s' %}
  
  {% assign current_month = '' %}
  {% assign current_year = '' %}
  
  {% for event in site.data.events %}
    {% assign datetime_parts = event.datetime | split: ' ' %}
    {% assign date_parts = datetime_parts[0] | split: '.' %}
    {% assign time_parts = datetime_parts[1] | split: ':' %}

    {% assign year = date_parts[2] %}
    {% assign month = date_parts[1] %}
    {% assign day = date_parts[0] %}
    {% assign hour = time_parts[0] %}
    {% assign minute = time_parts[1] %}

    {% assign formatted_datetime = year | append: '-' | append: month | append: '-' | append: day | append: ' ' | append: hour | append: ':' | append: minute | append: ' +0300' %}
    {% assign event_time = formatted_datetime | date: '%s' %}
    
    {% if event_time >= now %}
      {% if month != current_month or year != current_year %}
        <h3><small>
          {% case month %}
            {% when '01' %}⛄ Январь
            {% when '02' %}❄ Февраль
            {% when '03' %}🌱 Март
            {% when '04' %}🍀 Апрель
            {% when '05' %}🌺 Май
            {% when '06' %}🌳 Июнь
            {% when '07' %}🌞 Июль
            {% when '08' %}🌾 Август
            {% when '09' %}🍂 Сентябрь
            {% when '10' %}🍄 Октябрь
            {% when '11' %}🍁 Ноябрь
            {% when '12' %}🎄 Декабрь
          {% endcase %}
          {{ year }}

        </small></h3>
        {% assign current_month = month %}
        {% assign current_year = year %}
      {% endif %}
      
      <a href="{{ event.url }}">🌆 {{ day }}.{{ month }} в ⌚ {{ hour }}:{{ minute }} _ {{ event.name }}</a><br>
    {% endif %}
  {% endfor %}
</div>

<br>
<b>Отзывы с демо-сессий:</b>
<div style="display: flex; flex-direction: column; gap: 20px; align-items: left;">
    <div style="width: 100%; max-width: 500px;">
        <img src="/assets/images/ds-otz-01.png" alt="Отзыв 1" style="max-width: 100%;">
    </div>
    <div style="width: 100%; max-width: 500px;">
        <img src="/assets/images/ds-otz-02.png" alt="Отзыв 2" style="max-width: 100%;">
    </div>
</div>