**/*.DS_Store
_site/
.sass-cache/
.jekyll-metadata
.jekyll-cache
.run.txt
.run.bat
Gemfile.lock
assets/images/others
__new-posts/queue
/python
*.log
*.py
/__new-posts/
/test.html
.venv/
__pycache__/
_unused/