<div class="links scroll">
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/blog/">📖Читать блог</a></span>
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/">🧭Обо мне</a></span>
        <span style="white-space: nowrap">
          <a href="https://t.me/IvanBekRu/">📱Telegram-канал</a></span>

        <!--<span style="white-space: nowrap">
          <a href="{{site.baseurl}}/cases/">💁‍♂️Отзывы</a></span>
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/contacts/">📞Контакты</a></span>
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/archive/">📚Архив</a></span>
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/memo/">💾Памятки</a></span>
        <span style="white-space: nowrap">
          <a href="{{site.baseurl}}/sign/">📅Запись на консультацию</a></span>-->
</div>
<!--
<a href="{{site.baseurl}}/archive/"><nobr>📚Архив</nobr></a 💿💾📀💽🧲>
-->
<!--
<div class="links scroll">
        <a href="{{site.baseurl}}/">Главная</a>
        <a href="{{site.baseurl}}/cases/">Отзывы</a>
        <a href="{{site.baseurl}}/blog/">Статьи</a>
        <a href="{{site.baseurl}}/archive/">Архив</a>
</div>
-->
